

body {
	background-color: #f0f0f5;
	color: #000000;
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	text-align: left;
	padding: 20px

}

h1 {
	color: #313131;
	font-weight: 600;
	font-size: 38px;
	text-align: center;
}

#slogan {
	color: #860303;
	font-weight: bold;
	font-size: 24px;

}

.contact {
	text-align: center;
}

hr {
	width: 1200px;
}
