@import url(https://fonts.googleapis.com/css?family=Lato:700);

@import url(https://fonts.googleapis.com/css?family=Vollkorn);

body {
	background-color: #f0f0f5;
	color: #000000;
	font-family: 'Vollkorn', serif;
	font-size: 14px;
	text-align: left;
	line-height: 1.5em;
	padding: 30px

}

h1 {
	color: #313131;
	font-weight: 700;
	font-size: 38px;
	text-align: center;
	font-family: 'Lato', sans-serif;
}

#slogan {
	color: #860303;
	font-weight: 700;
	font-size: 24px;
	font-family: 'Lato', sans-serif;
}

.contact {
	text-align: center;
}

hr {
	width: 1200px;
}
